header{
  background-color: lightblue;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  color: black;
}
  body{
    background-image: url('https://hb.imgix.net/b77f4af782c6bc8d874941831b62b5a2e31fcc71.jpeg?auto=compress,format&fit=crop&h=425&w=741&s=15af4af4eee0261d48affd286d722161');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  nav{
  background-color: lightblue;
  padding: 20px;
  text-align: left;
  font-size: 20px;
  color: black;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  }
  .story{
  background-color: lightblue;
  padding: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  text-align: left;
  font-size: 15px;
  color: black;
  }
  .standard{
  background-color: lightblue;
  padding: 20px;

  text-align: left;
  font-size: 15px;
  color: black;
  }
  .achtung{
    font-size: 20px;
    color: red;
  }
    .nav{
      display: inline-block;
      padding: 20px;
      background-color: darkblue;
      color: white;
      text-decoration: none;
      border-radius: 10px;
    font-size: 20px;
  }
  .credits{
  background-color: lightgrey;
  padding: 20px;
  text-align: left;
  font-size: 10px;
  color: black;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  }
  .gallerie {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
    background-color: lightblue;
  padding: 20px;
  text-align: left;
  font-size: 15px;
  color: black;
}

.gallerie img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s;
}

.gallerie img:hover {
  transform: scale(1.05);
}
table {
  width: 100%;
  border-collapse: collapse; 
  border-spacing: 0;
  border-radius: 8px;
  overflow: hidden;
  vertical-align: middle;
}
.zusatzinfo{
  text-align: right;
  font-size: 10px;
}
