body {
    background-color: darkblue;
    color: white;
}

h1 {
    padding: 20px;
}

h2 {
    padding: 10px;
}



section {
    display: flex;
}

#Einstieg {
    padding: 10px;
}

#CSS-W {
    padding: 10px;
}


.link {
    padding: 10px;
    text-decoration: none;
    background-color: lightblue;
    border-radius: 10px;
}
