body {
    background-color: navy;
    background-attachment: fixed;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: gray;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    border: 3px solid black;
}
    

h1 {
    padding: 20px;
}

h2 {
    padding: 10px;
}



section {
    display: inline-flex;
    flex-direction: column;
    background-color: darkgray;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    text-align: center;
    border: 2px solid black;

}
section:hover {
    scale: 1.05;
}

#Einstieg {
    padding: 10px;
}

#CSS-W {
    padding: 10px;
}


.link {
    padding: 15px;
    text-decoration: none;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 10px;
}
.link:hover {
    background-color: white;
    color: black;
}
