html {
  background-color: navy;
  color: white;
}

body {
  margin: 20px auto;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #5e5e5e;
  border: 3px solid black;
  border-radius: 15px;
}

header {
  margin: 0 auto 18px;
}

section {
  background-color: darkgray;
  border-radius: 10px;
  border: 2px solid black;
  padding: 15px;
  margin: 12px 0;
}

.link {
  padding: 10px 12px;
  text-decoration: none;
  background-color: lightgray;
  border: 2px solid black;
  border-radius: 10px;
  color: blue;
  display: inline-block;
}

.link:hover {
  background-color: white;
  color: black;
}

footer {
  margin: 22px auto 0;
  padding: 16px;
  background-color: #1f1f1f;
  border: 2px solid black;
  border-radius: 12px;
}


.footer-link {
  color: white;
  text-decoration: underline;
}

.footer-link:hover {
  color: #d7d7d7;
}
